Connectors/Database/check_duplicates.sql/check_duplicates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:intalio.com:connectors:database:launchpointprocess:check_duplicatesservice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:intalio.com:connectors:database:launchpointprocess:check_duplicatesservice">
  <xsd:element name="check_duplicatesParameterSet">
    <xsd:annotation>
      <xsd:documentation>Main element in request message for operation - check_duplicates</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="connection">
          <xsd:annotation>
            <xsd:documentation>The database credentials</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="user">
                <xsd:annotation>
                  <xsd:documentation>The type definition for  user</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="password">
                <xsd:annotation>
                  <xsd:documentation>The type definition for  password</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="execute">
          <xsd:annotation>
            <xsd:documentation>Execution with input parameter</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element form="qualified" name="parameters">
                <xsd:annotation>
                  <xsd:documentation>The query parameters</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="caseid">
                      <xsd:annotation>
                        <xsd:documentation>The parameter value</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="15"/>
                          <xsd:fractionDigits value="2"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="check_duplicatesFault">
    <xsd:annotation>
      <xsd:documentation>The fault element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="errorMessage" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The error message</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="check_duplicatesResultSet">
    <xsd:annotation>
      <xsd:documentation>Main element in response message for operation - check_duplicates</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rows">
          <xsd:annotation>
            <xsd:documentation/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element form="qualified" name="row" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>The row taken from database query</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="caseid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  caseid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="batchid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  batchid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="clientid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  clientid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="environmentid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  environmentid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="requestid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  requestid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="isoreceived">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoreceived</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:boolean"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="isoprocessingbegan">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoprocessingbegan</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:boolean"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="isoduplicatefound">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoduplicatefound</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:boolean"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="isodatafetched">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isodatafetched</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:boolean"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="isosent">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isosent</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:boolean"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isoreceivedat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoreceivedat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isoprocessingbeganat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoprocessingbeganat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isoduplicatefoundat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoduplicatefoundat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isodatafetchedat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isodatafetchedat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isosentat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isosentat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="parentpid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  parentpid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="pid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  pid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="pdid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  pdid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="createdat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  createdat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="modifiedat">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  modifiedat</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>