Connectors/Database/caseRefreshment.sql/caseRefreshment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:intalio.com:connectors:database:launchpointprocess:caserefreshmentservice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:intalio.com:connectors:database:launchpointprocess:caserefreshmentservice">
  <xsd:element name="caseRefreshmentParameterSet">
    <xsd:annotation>
      <xsd:documentation>Main element in request message for operation - caseRefreshment</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="connection">
          <xsd:annotation>
            <xsd:documentation>The database credentials</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="user">
                <xsd:annotation>
                  <xsd:documentation>The type definition for  user</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="password">
                <xsd:annotation>
                  <xsd:documentation>The type definition for  password</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="execute">
          <xsd:annotation>
            <xsd:documentation>Execution with input parameter</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element form="qualified" name="parameters">
                <xsd:annotation>
                  <xsd:documentation>The query parameters</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="caseid">
                      <xsd:annotation>
                        <xsd:documentation>The parameter value</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="15"/>
                          <xsd:fractionDigits value="2"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="caseRefreshmentFault">
    <xsd:annotation>
      <xsd:documentation>The fault element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="errorMessage" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The error message</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="caseRefreshmentResultSet">
    <xsd:annotation>
      <xsd:documentation>Main element in response message for operation - caseRefreshment</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rows">
          <xsd:annotation>
            <xsd:documentation/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element form="qualified" name="row" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>The row taken from database query</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="batchid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  batchid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="environmentid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  environmentid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="clientid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  clientid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="casetrackingid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  casetrackingid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="caseid">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  caseid</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isoindicator">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  isoindicator</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="score">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  score</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="accidentdate">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  accidentdate</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:dateTime"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="benefitamount">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  benefitamount</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:totalDigits value="10"/>
                          <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="fundingsource">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  fundingsource</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="lob">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  lob</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="state">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  state</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="workcomp">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  workcomp</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="casestatus">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  casestatus</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="casesource">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  casesource</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element nillable="true" name="casetype">
                      <xsd:annotation>
                        <xsd:documentation>The type definition for  casetype</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="250"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>