Schemas/CreateResponseLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType><sequence><element name="batch_id" type="integer"/><element name="case_id" type="integer"/><element name="create_date" type="date"/><element name="created_by" type="string"/><element name="file_id" type="integer"/></sequence></complexType></element></schema>