Schemas/CreateActivity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType><sequence><element name="client_id" type="integer"/><element name="case_id" type="integer"/><element name="create_date" type="date"/><element name="created_by" type="string"/><element name="activity_type" type="string"/><element name="description" type="string"/></sequence></complexType></element></schema>