Schemas/GenerateFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType>
	<sequence>
		<element name="BatchId" type="int" />
		<element name="CaseId" type="int" />
		<element name="FileType" type="string" />
		<element name="EnvironmentId" type="string"></element>
		<element name="ClientId" type="string"></element>
		<element name="Content" type="string"></element>
	</sequence></complexType></element></schema>