Schemas/Launchpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Launchpoint" xmlns:tns="http://www.example.org/Launchpoint" elementFormDefault="qualified">

    <complexType name="CaseType">
    	<sequence>
    		<element name="CaseId" type="string"></element>
    		<element name="ISOIndicator" type="string"></element>
    		<element name="Score" type="string"></element>
    		<element name="AccidentDate" type="dateTime"></element>
    		<element name="BenefitAmount" type="string"></element>
    		<element name="FundingSource" type="string"></element>
    		<element name="LOB" type="string"></element>
    		<element name="State" type="string"></element>
    		<element name="WorkComp" type="string"></element>
    		<element name="CaseStatus" type="string"></element>
    		<element name="CaseSource">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="system"></enumeration>
    					<enumeration value="user"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="SkipDuplicateCheck" type="boolean"></element>
    	</sequence>
    </complexType>

    <complexType name="BatchType">
    	<sequence>
    		<element name="BatchId" type="string"></element>
            <element name="EnvironmentId" type="string"></element>
            <element name="ClientId" type="string"></element>
            <element name="TotalCaseCount" type="string"></element>
    		<element name="Cases" type="tns:CaseType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>





    




    
    
    
    
    
    
    
    


    



    <complexType name="BpmAckType">
    	<sequence>
    		<element name="pid" type="string"></element>
    		<element name="timestamp" type="dateTime"></element>
    	</sequence>
    </complexType>

    <complexType name="ISORequestType">
    	<sequence>
    		<element name="ClientID" type="int"></element>
    		<element name="Environment" type="string"></element>
    		<element name="Xml" type="string"></element>
    		<element name="IsTest" type="boolean"></element>
    		<element name="RequestID" type="int"></element>
    	</sequence>
    </complexType>

    <element name="isDuplicate">
    	<complexType>
    		<sequence>
    			<element name="duplicate" type="boolean"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="ISOCaseType">
    	<sequence>
    		<element name="case" type="tns:CaseType"></element>
    		<element name="batchId" type="string"></element>
    		<element name="parentPid" type="string"></element>
    		<element name="clientId" type="string"></element>
    		<element name="environmentId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Batch" type="tns:BatchType"></element>
    
    <element name="BatchCase" type="tns:CaseType"></element>

    <element name="CaseDecision" type="tns:CaseDecisionType"></element>
    
    <complexType name="CaseDecisionType">
    	<sequence>
    		<element name="decision" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="GenerateFileResponseType">
    	<sequence>
    		<element name="Request" type="tns:ISORequestType"></element>
    	</sequence>
    </complexType>

    <element name="caseId" type="string"></element>

    <element name="requestId" type="string"></element>

    <element name="batchId" type="string"></element>

    <complexType name="ISOFileWrapperType">
    	<sequence>
    		<element name="content" type="anyType"></element>
    	</sequence>
    </complexType>

    <element name="ISORequestFile" type="tns:ISOFileWrapperType"></element>

    <element name="ISOResponseFile" type="tns:ISOFileWrapperType"></element>
    
    <element name="ISOResponseFileACK" type="tns:BpmAckType"></element>

    <element name="ISOResponseCanonical">
    	<complexType>
    		<sequence>
    			<element name="requestId" type="string"></element>
    			<element name="caseId" type="string"></element>
    			<element name="clientid" type="string"></element>
    			<element name="batchId" type="string"></element>
    			<element name="environmentId" type="string"></element>
    			<element name="previousScore" type="string"></element>
    			<element name="status" type="string"></element>
                <element name="score" type="string"></element>
                <element name="content" type="anyType"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="ISOScoringType">
    	<sequence>
    		<element name="batchId" type="string"></element>
    		<element name="caseId" type="string"></element>
    		<element name="environmentId" type="string"></element>
    		<element name="status" type="string"></element>
    		<element name="score" type="string"></element>
    	</sequence>
    </complexType>


    <element name="ISOScoring" type="tns:ISOScoringType"></element>

    <element name="ISOScoringACK" type="tns:BpmAckType"></element>

    <element name="DCMISORequestFile" type="tns:DCMISOFileWrapperType">
    </element>

    <element name="DCMISORequestFileACK" type="tns:BpmAckType"></element>


    <complexType name="DCMISOFileWrapperType">
    	<sequence>
    		<element name="caseId" type="string"></element>
    		<element name="content" type="anyType"></element>
    	</sequence>
    </complexType>

    <element name="ISOCaseRequestFile"
    	type="tns:DCMISOFileWrapperType">
    </element>
    
    <element name="ISOCaseRequestACKFile"
    	type="tns:DCMISOFileWrapperType">
    </element>

    <element name="RqUID">
    	<complexType>
    		<sequence>
    			<element name="value" type="string"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="CaseDiscriminationDecisionType">
    	<sequence>
            <element name="ignore" type="boolean"></element>
            <element name="drop" type="boolean"></element>
    		<element name="IQ" type="boolean"></element>
    		<element name="ISO" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="closeCaseStatus" type="string"></element>
    		<element name="closeCaseReason" type="string"></element>
    		<element name="updateLifecycle" type="boolean"></element>
    		<element name="updateLifecycleDesc" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="BatchCaseType">
    	<sequence>
    		<element name="BatchId" type="string"></element>
    		<element name="EnvironmentId" type="string"></element>
    		<element name="ClientId" type="string"></element>
    		<element name="Case" type="tns:CaseType"></element>
    	</sequence>
    </complexType>

    <complexType name="CaseChangesTrackerType">
    	<sequence>
            <element name="hasChanges" type="boolean"></element>
            <element name="scoreChanged" type="boolean"></element>
    		<element name="statusChanged" type="boolean"></element>
    		<element name="previousQualification" type="string"></element>
    		<element name="currentQualification" type="string"></element>
    		<element name="previousStatus" type="string"></element>
    		<element name="returnMail" type="boolean"></element>
    	</sequence>
    </complexType>
    
    <element name="CaseChangesTracker"
    	type="tns:CaseChangesTrackerType">
    </element>

    <complexType name="ISORuleInputType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="currentScore" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="ISORuleOutputType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="exception" type="boolean"></element>
    		<element name="reopenCaseStatus" type="string"></element>
    		<element name="createDiary" type="boolean"></element>
    		<element name="diaryType" type="string"></element>
    		<element name="diaryStatus" type="string"></element>
    		<element name="diaryText" type="string"></element>
    		<element name="diaryOwner" type="string"></element>
    		<element name="diaryDays" type="int"></element>
    		<element name="updateLifecycle" type="boolean"></element>
    		<element name="updateLifecycleText" type="string"></element>
    		<element name="isoActivity" type="boolean"></element>
    		<element name="isoActivityText" type="string"></element>
    		<element name="isoActivityOwner" type="string"></element>
    		<element name="isoActivityDescription" type="string"></element>
    		<element name="lifecycleActivity" type="boolean"></element>
    		<element name="lifecycleActivityDescripton" type="string"></element>
    		<element name="lifecycleActivityText" type="string"></element>
    		<element name="lifecycleActivityOwner" type="string"></element>
    		<element name="closeCaseActivity" type="boolean"></element>
    		<element name="closeCaseActivityText" type="string"></element>
    		<element name="closeCaseActivityOwner" type="string"></element>
    		<element name="closeCaseActivityDescription"
    			type="string">
    		</element>
    		<element name="caseReopenActivity" type="boolean"></element>
    		<element name="caseReopenActivityText" type="string"></element>
    		<element name="caseReopenActivityDescription"
    			type="string">
    		</element>
    		<element name="caseReopenActivityOwner" type="string"></element>
    		<element name="sendToIQ" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="closeCaseDays" type="int"></element>
    	</sequence>
    </complexType>

    <complexType name="IQRuleInputType">
    	<sequence>
    		<element name="caseid" type="int"></element>
    	</sequence>
    </complexType>

    <complexType name="IQRuleOutputType">
    	<sequence>
    		<element name="stopProcessing" type="boolean"></element>
    		<element name="send" type="boolean"></element>
    		<element name="waitPeriod" type="int"></element>
    		<element name="sendToISO" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="cloaseCaseStatus" type="string"></element>
    		<element name="cloaseCaseReason" type="string"></element>
    		<element name="cloaseCaseDescription" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="IQCaseType">
    	<sequence>
    		<element name="BatchId" type="int"></element>
    		<element name="CaseId" type="int"></element>
    		<element name="ClientId" type="int"></element>
    		<element name="EnvironmentId" type="int"></element>
    	</sequence>
    </complexType>

    <element name="ISORuleInput">
    	<complexType>
    		<sequence>
    			<element name="highestScore" type="string"></element>
    			<element name="daysSinceResponse" type="int"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="CaseRefreshmentType">
    	<sequence>
    		<element name="batchId" type="int"></element>
    		<element name="clientid" type="int"></element>
    		<element name="environmentid" type="int"></element>
    		<element name="case" type="tns:CaseType"></element>
    	</sequence>
    </complexType>

    <complexType name="CaseExistanceType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="exists" type="boolean"></element>
    	</sequence>
    </complexType>

    <element name="LaunchpointCase" type="tns:CaseType"></element>

    <complexType name="listCasesType">
    	<sequence>
    		<element name="caseid" type="int" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="LaunchpointCaseType">
    	<sequence>
    		<element name="CaseId" type="string"></element>
    		<element name="ISOIndicator" type="int"></element>
    		<element name="Score" type="int"></element>
    		<element name="AccidentDate" type="date"></element>
    		<element name="BenefitAmount" type="double"></element>
    		<element name="FundingSource" type="string"></element>
    		<element name="LOB" type="string"></element>
    		<element name="WorkComp" type="boolean"></element>
    		<element name="CaseStatus" type="string"></element>
    		<element name="CaseSource" type="string"></element>
    		<element name="ClientId" type="int"></element>
    		<element name="EnvironmentId" type="int"></element>
    		<element name="LifeCycle" type="string"></element>
    		<element name="CloseReason" type="string"></element>
            <element name="State" type="string"></element>
            <element name="IQResponseReceived" type="boolean"></element>
    		<element name="CanClose" type="boolean"></element>
    		<element name="BelowCostEffectivePursuit" type="boolean"></element>
    		<element name="IQReturnMail" type="boolean"></element>
    	</sequence>
    </complexType>

    <complexType name="ActivityType">
    	<sequence>
    		<element name="ActivityId" type="string"></element>
    		<element name="ActivityType" type="string"></element>
    		<element name="ActivityCode" type="string"></element>
    		<element name="ActivityDescription" type="string"></element>
    		<element name="CreatedDate" type="dateTime"></element>
    		<element name="CreatedBy" type="string"></element>
    	</sequence>
    </complexType>
    
    <complexType name="DiaryType">
    	<sequence>
    		<element name="DiaryId" type="string"></element>
    		<element name="DiaryType" type="string"></element>
    		<element name="DiaryStatus" type="string"></element>
    		<element name="DiaryDueDate" type="date"></element>
    		<element name="Description" type="string"></element>
    		<element name="CreatedDate" type="dateTime"></element>
    		<element name="CreatedBy" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="CaseActivitiesType">
    	<sequence>
    		<element name="caseId" type="string"></element>
    		<element name="activities" type="tns:ActivityType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="CaseDiariesType">
    	<sequence>
    		<element name="caseId" type="string"></element>
    		<element name="diaries" type="tns:DiaryType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="CaseActivities" type="tns:CaseActivitiesType"></element>
    
    <element name="CaseDiaries" type="tns:CaseDiariesType"></element>

    <element name="LPCase" type="tns:LaunchpointCaseType"></element>

    <complexType name="LaunchpointCaseChangesTrackerType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="hasChanges" type="boolean"></element>
    		<element name="changes">
    			<complexType>
    				<sequence>
    					<element name="ISOIndicatorChanged"
    						type="boolean">
    					</element>
    					<element name="ScoreChanged" type="boolean"></element>
    					<element name="AccidentDateChanged"
    						type="boolean">
    					</element>
    					<element name="BenefitAmountChanged"
    						type="boolean">
    					</element>
    					<element name="FundingSourceChanged"
    						type="boolean">
    					</element>
    					<element name="LOBChanged" type="boolean"></element>
    					<element name="WorkCompChanged"
    						type="boolean">
    					</element>
    					<element name="CaseStatusChanged"
    						type="boolean">
    					</element>
    					<element name="CaseSourceChanged"
    						type="boolean">
    					</element>
    					<element name="LifeCycleChanged"
    						type="boolean">
    					</element>
    					<element name="CloseReasonChanged"
    						type="boolean">
    					</element>
    					<element name="IQResponseReceivedChanged"
    						type="boolean">
    					</element>
    					<element name="CanCloseChanged"
    						type="boolean">
    					</element>
    					<element name="BelowCostEffectivePursuitChanged"
    						type="boolean">
    					</element>
    					<element name="IQReturnMailChanged"
    						type="boolean">
    					</element>
    					<element name="StateChanged" type="boolean"></element>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    </complexType>

    <element name="lpCaseChangesTracker"
    	type="tns:LaunchpointCaseChangesTrackerType">
    </element>

    <complexType name="ErrorRecoveryType">
    	<sequence>
    		<element name="recoverId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="ErrorRecovery" type="tns:ErrorRecoveryType"></element>

    <element name="ErrorRecoveryACK" type="tns:BpmAckType"></element>

    <complexType name="IQQueuedType">
    	<sequence>
    		<element name="iqQueued" type="boolean"></element>
    		<element name="caseId" type="int"></element>
    	</sequence>
    </complexType>
    <element name="lpCases" type="tns:listCasesType"></element>

    <complexType name="IQBatchType">
    	<sequence>
    		<element name="clientId" type="int"></element>
    		<element name="cases" type="tns:IQDBCaseType" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="IQDBCaseType">
    	<sequence>
    		<element name="id" type="int"></element>
    		<element name="clientId" type="int"></element>
    		<element name="caseId" type="int"></element>
    		<element name="iqReceived" type="boolean"></element>
    		<element name="iqReceivedAt" type="dateTime"></element>
    		<element name="iqEnqueued" type="boolean"></element>
    		<element name="iqEnqueuedAt" type="dateTime"></element>
    		<element name="iqDequeued" type="boolean"></element>
    		<element name="iqDequeuedAt" type="dateTime"></element>
    		<element name="iqSent" type="boolean"></element>
    		<element name="iqSentAt" type="dateTime"></element>
    	</sequence>
    </complexType>

    <element name="IQBatches" type="tns:IQBatchesType"></element>
    
    <complexType name="IQBatchesType">
    	<sequence>
    		<element name="pid" type="int"></element>
    		<element name="batches" type="tns:IQBatchType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="IQLetterType">
    	<sequence>
    		<element name="BatchId" type="int"></element>
    		<element name="ClientId" type="int"></element>
    		<element name="CaseId" type="int"></element>
    		<element name="FileId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="PID" type="int"></element>

    <complexType name="GenerateIQLetterAck">
    	<sequence>
    		<element name="caseId" type="int"></element>
    		<element name="response" type="boolean"></element>
    	</sequence>
    </complexType>

</schema>