Schemas/Launchpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Launchpoint" xmlns:tns="http://www.example.org/Launchpoint" elementFormDefault="qualified">

    <complexType name="CaseType">
    	<sequence>
    		<element name="CaseId" type="string"></element>
    		<element name="ISOIndicator" type="string"></element>
    		<element name="Score" type="string"></element>
    		<element name="AccidentDate" type="dateTime"></element>
    		<element name="BenefitAmount" type="string"></element>
    		<element name="FundingSource" type="string"></element>
    		<element name="LOB" type="string"></element>
    		<element name="State" type="string"></element>
    		<element name="WorkComp" type="string"></element>
    		<element name="CaseStatus" type="string"></element>
    		<element name="CaseSource">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="system"></enumeration>
    					<enumeration value="user"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="SkipDuplicateCheck" type="boolean"></element>
    	</sequence>
    </complexType>

    <complexType name="BatchType">
    	<sequence>
    		<element name="BatchId" type="string"></element>
            <element name="EnvironmentId" type="string"></element>
            <element name="ClientId" type="string"></element>
            <element name="TotalCaseCount" type="string"></element>
    		<element name="Cases" type="tns:CaseType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>





    




    
    
    
    
    
    
    
    


    



    <complexType name="BpmAckType">
    	<sequence>
    		<element name="pid" type="string"></element>
    		<element name="timestamp" type="dateTime"></element>
    	</sequence>
    </complexType>

    <complexType name="ISORequestType">
    	<sequence>
    		<element name="ClientID" type="int"></element>
    		<element name="Environment" type="string"></element>
    		<element name="Xml" type="string"></element>
    		<element name="IsTest" type="boolean"></element>
    		<element name="RequestID" type="int"></element>
    	</sequence>
    </complexType>

    <element name="isDuplicate">
    	<complexType>
    		<sequence>
    			<element name="duplicate" type="boolean"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="ISOCaseType">
    	<sequence>
    		<element name="case" type="tns:CaseType"></element>
    		<element name="batchId" type="string"></element>
    		<element name="parentPid" type="string"></element>
    		<element name="clientId" type="string"></element>
    		<element name="environmentId" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Batch" type="tns:BatchType"></element>
    
    <element name="BatchCase" type="tns:CaseType"></element>

    <element name="CaseDecision" type="tns:CaseDecisionType"></element>
    
    <complexType name="CaseDecisionType">
    	<sequence>
    		<element name="decision" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="GenerateFileResponseType">
    	<sequence>
    		<element name="Request" type="tns:ISORequestType"></element>
    	</sequence>
    </complexType>

    <element name="caseId" type="string"></element>

    <element name="requestId" type="string"></element>

    <element name="batchId" type="string"></element>

    <complexType name="ISOFileWrapperType">
    	<sequence>
    		<element name="content" type="anyType"></element>
    	</sequence>
    </complexType>

    <element name="ISORequestFile" type="tns:ISOFileWrapperType"></element>

    <element name="ISOResponseFile" type="tns:ISOFileWrapperType"></element>
    
    <element name="ISOResponseFileACK" type="tns:BpmAckType"></element>

    <element name="ISOResponseCanonical">
    	<complexType>
    		<sequence>
    			<element name="requestId" type="string"></element>
    			<element name="caseId" type="string"></element>
    			<element name="clientid" type="string"></element>
    			<element name="batchId" type="string"></element>
    			<element name="environmentId" type="string"></element>
    			<element name="previousScore" type="string"></element>
    			<element name="status" type="string"></element>
                <element name="score" type="string"></element>
                <element name="content" type="anyType"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="ISOScoringType">
    	<sequence>
    		<element name="batchId" type="string"></element>
    		<element name="caseId" type="string"></element>
    		<element name="environmentId" type="string"></element>
    		<element name="status" type="string"></element>
    		<element name="score" type="string"></element>
    	</sequence>
    </complexType>


    <element name="ISOScoring" type="tns:ISOScoringType"></element>

    <element name="ISOScoringACK" type="tns:BpmAckType"></element>

    <element name="DCMISORequestFile" type="tns:DCMISOFileWrapperType">
    </element>

    <element name="DCMISORequestFileACK" type="tns:BpmAckType"></element>


    <complexType name="DCMISOFileWrapperType">
    	<sequence>
    		<element name="caseId" type="string"></element>
    		<element name="content" type="anyType"></element>
    	</sequence>
    </complexType>

    <element name="ISOCaseRequestFile"
    	type="tns:DCMISOFileWrapperType">
    </element>
    
    <element name="ISOCaseRequestACKFile"
    	type="tns:DCMISOFileWrapperType">
    </element>

    <element name="RqUID">
    	<complexType>
    		<sequence>
    			<element name="value" type="string"></element>
    		</sequence>
    	</complexType>
    </element>

    <complexType name="CaseDiscriminationDecisionType">
    	<sequence>
            <element name="ignore" type="boolean"></element>
            <element name="drop" type="boolean"></element>
    		<element name="IQ" type="boolean"></element>
    		<element name="ISO" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="closeCaseStatus" type="string"></element>
    		<element name="closeCaseReason" type="string"></element>
    		<element name="updateLifecycle" type="boolean"></element>
    		<element name="updateLifecycleDesc" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="BatchCaseType">
    	<sequence>
    		<element name="BatchId" type="string"></element>
    		<element name="EnvironmentId" type="string"></element>
    		<element name="ClientId" type="string"></element>
    		<element name="Case" type="tns:CaseType"></element>
    	</sequence>
    </complexType>

    <complexType name="CaseChangesTrackerType">
    	<sequence>
            <element name="hasChanges" type="boolean"></element>
            <element name="scoreChanged" type="boolean"></element>
    		<element name="statusChanged" type="boolean"></element>
    		<element name="previousQualification" type="string"></element>
    		<element name="currentQualification" type="string"></element>
    		<element name="previousStatus" type="string"></element>
    		<element name="returnMail" type="boolean"></element>
    	</sequence>
    </complexType>
    
    <element name="CaseChangesTracker"
    	type="tns:CaseChangesTrackerType">
    </element>

    <complexType name="ISORuleInputType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="currentScore" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="ISORuleOutputType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    		<element name="reopenCase" type="boolean"></element>
    		<element name="reopenCaseStatus" type="string"></element>
    		<element name="createDiary" type="boolean"></element>
    		<element name="diaryType" type="string"></element>
    		<element name="diaryStatus" type="string"></element>
    		<element name="diaryText" type="string"></element>
    		<element name="diaryDays" type="int"></element>
    		<element name="updateLifecycle" type="boolean"></element>
    		<element name="updateLifecycleText" type="string"></element>
    		<element name="isoActivity" type="boolean"></element>
    		<element name="isoActivityText" type="string"></element>
    		<element name="isoActivityOwner" type="string"></element>
    		<element name="isoActivityDescription" type="string"></element>
    		<element name="lifecycleActivity" type="boolean"></element>
    		<element name="lifecycleActivityDescripton" type="string"></element>
    		<element name="lifecycleActivityText" type="string"></element>
    		<element name="lifecycleActivityOwner" type="string"></element>
    		<element name="closeCaseActivity" type="boolean"></element>
    		<element name="closeCaseActivityText" type="string"></element>
    		<element name="closeCaseActivityOwner" type="string"></element>
    		<element name="closeCaseActivityDescription"
    			type="string">
    		</element>
    		<element name="caseReopenActivity" type="boolean"></element>
    		<element name="caseReopenActivityText" type="string"></element>
    		<element name="caseReopenActivityDescription"
    			type="string">
    		</element>
    		<element name="caseReopenActivityOwner" type="string"></element>
    		<element name="sendToIQ" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="closeCaseDays" type="int"></element>
    	</sequence>
    </complexType>

    <complexType name="IQRuleInputType">
    	<sequence>
    		<element name="caseid" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="IQRuleOutputType">
    	<sequence>
    		<element name="stopProcessing" type="boolean"></element>
    		<element name="send" type="boolean"></element>
    		<element name="waitPeriod" type="int"></element>
    		<element name="sendToISO" type="boolean"></element>
    		<element name="closeCase" type="boolean"></element>
    		<element name="cloaseCaseStatus" type="string"></element>
    		<element name="cloaseCaseReason" type="string"></element>
    		<element name="cloaseCaseDescription" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="IQCaseType">
    	<sequence>
    		<element name="BatchId" type="int"></element>
    		<element name="CaseId" type="int"></element>
    		<element name="ClientId" type="int"></element>
    		<element name="EnvironmentId" type="int"></element>
    	</sequence>
    </complexType>
</schema>