Schemas/Logging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="iob_request_root">
<complexType><sequence>
<element name="process_instance_id" type="integer"/>
<element name="batch_id" type="integer"/>
<element name="case_id" type="integer"/>
<element name="step_id" type="string"/>
<element name="log_type" type="string"/>
<element name="description" type="string"/>
</sequence>
</complexType>
</element></schema>