Schemas/LookupId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType><sequence><element name="client_id" type="integer"/><element name="sk" type="integer"/></sequence></complexType></element></schema>