Schemas/UpdateCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType><sequence><element name="client_id" type="integer"/><element name="case_id" type="integer"/><element name="modify_date" type="date"/><element name="modify_by" type="string"/><element name="case_status" type="string"/></sequence></complexType></element></schema>