Schemas/UpdateDiary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType><sequence><element name="client_id" type="integer"/><element name="case_id" type="integer"/><element name="modify_date" type="date"/><element name="modified_by" type="string"/><element name="diary_type" type="string"/><element name="diary_status" type="string"/><element name="due_date" type="date"/><element name="diary_from" type="string"/><element name="diary_to" type="string"/><element name="description" type="string"/></sequence></complexType></element></schema>