Schemas/integrations/CaseCloseReopen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType>
	<sequence>
		<element name="ClientId" type="integer" />
		<element name="EnvironmentId" type="integer" />
		<element name="CaseId" type="integer" />
		<element name="ModifyDate" type="dateTime" />
		<element name="ModifyBy" type="string" />
		<element name="LifeCycle" type="string"></element>
		<element name="CloseReason" type="string"></element>
		<element name="CaseStatus" type="string"></element>
	</sequence></complexType></element>
</schema>