Schemas/integrations/createDiary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType>
	<sequence>
		<element name="ClientId" type="integer" />
		<element name="EnvironmentId" type="integer"></element>
		<element name="CaseId" type="integer" />
		<element name="CreateDate" type="dateTime" />
		<element name="CreatedBy" type="string" />
		<element name="DiaryType" type="string" />
		<element name="DiaryStatus" type="string" />
		<element name="Description" type="string" />
	</sequence></complexType></element></schema>