Schemas/integrations/generateFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_request_root"><complexType>
	<sequence>
		<element name="BatchId" type="int" />
                <element name="ClientId" type="string"></element>
                <element name="CaseId" type="int" />
                <element name="Content" type="string"></element>
                <element name="FileType" type="string" />
	</sequence></complexType></element></schema>