Schemas/integrations/Validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Validation" xmlns:tns="http://www.example.org/Validation" elementFormDefault="qualified">

    <complexType name="DocumentValidType">
    	<sequence>
    		<element name="isValid" type="boolean"></element>
    		<element name="element" type="string"></element>
    	</sequence>
    </complexType>

    <element name="DocumentValid" type="tns:DocumentValidType"></element>
</schema>